.boton_negro{
    background-color: black;
    color: white;
    font-size: 28px;
}

.boton_amarillo{
    background-color: yellow;
    font-size: 28px;
}

.botones{
    font-family: Helvetica, 'Times New Roman', sans-serif;
}