.fondo{
    padding: 8px; 
    font-size: 16px;  
    background-color: rgb(202, 229, 255);
    margin: 8px;
}

.fondo1{
    background-color: rgb(202, 229, 255);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 8px;
}

.fondo2{
    background-color: rgb(202, 229, 255);
    padding: 8px;
    margin: 8px;
}
.general{
    margin-left:1000px;
    margin-right:1000px;
}
.boton{
    margin-left: 8px;
    margin-right: 8px;
    padding-right: 24px;
    padding-left: 24px;
}