.fondo{
    padding: 8px;  
    font-size: 16px;  
    background-color: rgb(11, 198, 223);
}

.fondo1{
    background-color: rgb(11, 198, 223);
}

.fondo2{
    background-color: rgb(11, 198, 223);
}

.general{
    margin: 8px;
}